pytz==2025.2
seaborn==0.13.2
pydantic_core==2.33.0
typing-inspection==0.4.0
GitPython==3.1.44
fonttools==4.56.0
nvidia-cusparselt-cu12==0.6.2
lazy_loader==0.4
nvidia-cusparse-cu12==12.3.1.170
gym_ple==0.3
kiwisolver==1.4.8
nvidia-nvjitlink-cu12==12.4.127
filelock==3.18.0
platformdirs==4.3.7
PyYAML==6.0.2
protobuf==5.29.4
scipy==1.15.2
requests==2.32.3
cycler==0.12.1
setuptools==78.1.0
sympy==1.13.1
tzdata==2025.2
ale-py==0.10.2
smmap==5.0.2
tifffile==2025.3.13
urllib3==2.3.0
opencv-python==4.11.0.86
nvidia-nvtx-cu12==12.4.127
torch==2.6.0
proglog==0.1.10
gymnasium==1.1.1
nvidia-cudnn-cu12==9.1.0.70
pandas==2.2.3
contourpy==1.3.1
cloudpickle==3.1.1
docker-pycreds==0.4.0
pydantic==2.11.0
mpmath==1.3.0
sentry-sdk==2.24.1
imageio-ffmpeg==0.6.0
typing_extensions==4.13.0
pyparsing==3.2.3
nvidia-cuda-nvrtc-cu12==12.4.127
numpy==2.2.4
nvidia-cuda-cupti-cu12==12.4.127
packaging==24.2
nvidia-cuda-runtime-cu12==12.4.127
tqdm==4.67.1
MarkupSafe==3.0.2
gym==0.26.2
python-dateutil==2.9.0.post0
certifi==2025.1.31
Jinja2==3.1.6
setproctitle==1.3.5
networkx==3.4.2
gitdb==4.0.12
nvidia-curand-cu12==10.3.5.147
charset-normalizer==3.4.1
triton==3.2.0
nvidia-cusolver-cu12==11.6.1.9
annotated-types==0.7.0
python-dotenv==1.1.0
click==8.1.8
psutil==7.0.0
Farama-Notifications==0.0.4
idna==3.10
six==1.17.0
fsspec==2025.3.0
gym-notices==0.0.8
scikit-image==0.25.2
nvidia-cufft-cu12==11.2.1.3
imageio==2.37.0
pip==24.3.1
wandb==0.19.8
decorator==5.2.1
pillow==10.4.0
matplotlib==3.10.1
moviepy==2.1.2
nvidia-nccl-cu12==2.21.5
nvidia-cublas-cu12==12.4.5.8
autocommand==2.2.2
wheel==0.45.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
jaraco.text==3.12.1
backports.tarfile==1.2.0
inflect==7.3.1
zipp==3.19.2
jaraco.functools==4.0.1
typeguard==4.3.0
packaging==24.2
tomli==2.0.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.context==5.3.0
